@import "./../../assets/styles/resets.scss";
@import "./../../assets/styles/variables.scss";

.login {
    background-image: url("/Inicio3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px;
    padding-top: 100px;
  
    .info {
      display: flex;
      background-color: rgba($main-purple, 0.6);
      border-radius: 10px;
      backdrop-filter: blur(0.5px);
      padding: 40px;
      flex-direction: column;
      font-family: $font-primary;
      font-weight: 100;
      color: $font-dark;
      gap: 20px;
      justify-content: space-evenly;
      box-shadow: 4px 4px 6px rgba($font-dark, 0.4);
      .logoD {
        display: none;
      }
    }
    .leftL {
      display: none;
    }
    h2 {
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      color: $font-dark;
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      span{
        text-align: center;
      }
  
      .form-div {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-label {
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 18px;
        }
        .form-input {
          padding: 5px;
          margin-bottom: 10px;
          border: 1px solid $main-purple;
          border-radius: 5px;
          width: 250px;
          background-color: $background-light;
          height: 40px;
          &:focus {
            border: 2px solid $main-purple;
            outline: none;
            box-shadow: 0px 0px 5px 2px $background-light;
          }
        }
      }
      .button-login {
        padding: 10px;
        width: 140px;
        background-color: $background-pink;
        color: $font-dark;
        font-weight: 500;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            border: 2px solid $main-purple;
            outline: none;
            box-shadow: 0px 0px 5px 2px $background-light;
            color: $background-light;
          }
      }
      .button-divider {
        width: 80%;
        border: none;
        border-bottom: 1px solid $font-dark;
        margin: 10px auto;
      }
      .form-others {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 24px;
          height: 24px;
        }
        span {
          font-weight: 500;
          font-size: 18px;
        }
      }
      .form-register {
        .text {
          // text-decoration: none;
          font-family: $font-primary;
          font-weight: 100;
          color: $font-dark;
          margin-left: 10px;
        }
      }
    }
  }