@import "../../assets/styles/variables.scss";
@import "../../assets/styles/resets.scss";
.nav-mobile {
    background-color: $main-pink;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    img {
        width: 40px;
         
    }
    // img:hover {
    //     transform: scale(1.2);  // Agranda la imagen al 120% del tamaño original
    //   }
    
    .active {
        filter: brightness(70%);
    }
}