@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
$main-purple: #D8A3D9;
$main-blue: #69d2e7;
$main-pink:#F29191;
$background-pink:#F2BEA0;
$background-peach: #F2C36B;
$background-peach-light: #f9e5c0;
$background-light:#EDF2C2;
$font-light: #A8A294;
$font-dark: #676662;
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;